<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.pjquize">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pjquiz_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>




        </activity>


        <activity android:name=".StartGamePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.pjquize.CategoryList" />
        </activity>
        <activity android:name=".CategoryList"  >
             />
        </activity>
        <activity android:name=".resultsPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.pjquize.CategoryList" />
        </activity>
        <activity android:name=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.pjquize.CategoryList" />
        </activity>
        <activity android:name=".SignupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.pjquize.CategoryList" />
        </activity>
        <activity android:name=".ResetPasswordActivity"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.pjquize.CategoryList" />
        </activity>
        <activity android:name=".UserProfile"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.pjquize.CategoryList" />
        </activity>


    </application>

</manifest>